/* Add some padding to the container for a better look */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Style the footer to look cleaner */
footer {
    background-color: #3e3c3c;
    padding: 10px 0;
    margin-top: 311px;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

body {
    background-color: bisque;

}
